asgiref==3.3.4
boto3==1.17.101
botocore==1.20.101
Django==3.2.4
django-classy-tags==2.0.0
django-dotenv==1.4.2
django-storages==1.11.1
django-taggit==1.4.0
django-taggit-templatetags2==1.6.1
django-widget-tweaks==1.4.8
docutils==0.17.1
gunicorn==20.1.0
jmespath==0.10.0
mysqlclient==2.0.3
Pillow==8.2.0
python-dateutil==2.8.1
pytz==2021.1
s3transfer==0.4.2
six==1.16.0
sorl-thumbnail==12.7.0
sqlparse==0.4.1
typing-extensions==3.10.0.0
urllib3==1.26.6
